.text-container {
    display: grid;
    width: 930px;
    margin: 0 auto;
    grid-template-columns: 60% 10% 10% 10% 10%;
    text-align: center;
}

.heading {
    background-color: aqua;
}

.link1 {
    background-color: orangered;
}

.link2 {
    background-color: yellowgreen;
}

.link3 {
    background-color: violet
}

.link4 {
    background-color: lightgreen;
}

.main-container {
    width: 930px;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img{
    width: 300px;
}

.gap{
    height: 10px;
}

.wrapper{
    overflow: hidden;
}

.wrapper img {
    transition: scale 400ms;
}

.wrapper:hover img{
    scale: 120%;
}